.clear {
    clear: both;
}

body {
    padding: 0;
    margin: 0;
    border-width: 0;
    font: 90% "Trebuchet MS", sans-serif;
    min-height: 800px;
    background-color: #FFFFFF;
    color: #000000;
}

img {
    border: 0;
    vertical-align: middle;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: Arial,helvetic,sans-serif;
}

h1,h3,h4 {
    color: #606060;
}

h2 {
    padding: 10px 0 5px 0;
    color: #6B4E3D;
}

h3,h4 {
    font-family: "Courier New", monospace;
}

a {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #A0A0A0;
}

.problem_content {
    font-size: 110%;
    border-top: solid 1px #D0D0D0;
    border-bottom: solid 1px #A0A0A0;
    border-left: solid 1px #D0D0D0;
    border-right: solid 1px #A0A0A0;
    padding: 10px;
    background-color: #FFFFFF;
}

input[type="radio"] {
    vertical-align: middle;
    margin: 0 0 2px 2px;
    padding: 0;
}

#container {
    position: relative;
    margin-top: 10px;
    padding-top: 60px;
}

#content {
    padding: 10px;
    margin: 40px auto;
    max-width: 1000px;
}

#info_panel {
    position: absolute;
    right: 10px;
    top: 30px;
    text-align: right;
    color: #909090;
    font: 80% Tahoma, Arial, sans-serif;
}

footer, footer a {
   margin-top: 50px;
   text-align: center;
   padding: 20px;
   font: 11px Verdana,sans-serif;
   color: #B0B0B0;
}

var {
  font-family: "times new roman";
  font-style: italic;
  font-size: 120%;
}

dfn {
   border-bottom: 1px dotted green;
   font-style: normal;
}

.overline {
    border-top: 1px solid #000000;
}

/* ----------------------------------------
info
---------------------------------------- */
.info {
    position: relative;
    cursor: help;
}

.info span {
    display: none;
    position: absolute;
    font-weight: normal;
    font-style: normal;
    top: 30px;
    padding: 5px;
    z-index: 100;
    background-color: #E0E0E0;
    border: 2px solid #606060;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.info:hover span {
    display: block;
}

/* ----------------------------------------
end of info
---------------------------------------- */

/* ----------------------------------------
logo
---------------------------------------- */
#logo {
    position: absolute;
    top: 0;
    left: 11px;
    width: 200px;
    margin-right: 20px;
}

#logo img {
    vertical-align: top;
}

/* ----------------------------------------
end of logo
---------------------------------------- */

/* ----------------------------------------
navigation
---------------------------------------- */

#navigation-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font: 80% Tahoma, Arial, sans-serif;
    margin-bottom: 10px;
}

#navigation-menu a {
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #707070;
    padding: 5px;
    margin-right: 5px;
    background-color: #808080;
    text-decoration: none;
    float: left;
    display: block;
    width: 100px;
}

#navigation-menu a:hover {
    background-color: #FF9933;
}

#navigation-menu a.selected {
    background-color: #FF9933;
}

/* ----------------------------------------
end of navigation
---------------------------------------- */

/* ----------------------------------------
formula
---------------------------------------- */
.formula table {
    border-collapse: collapse;
    margin: 0 5px;
}

.formula .frac td {
    padding: 0 5px;
    text-align: center;
}

/* ----------------------------------------
end of formula
---------------------------------------- */

/* ----------------------------------------
Grid - style of most tables on the site
---------------------------------------- */
.grid {
    border-collapse: collapse;
}

.grid th {
    text-align: center;
    font-weight: bold;
}

.grid th {
    padding: 2px;
    border: 1px solid #B0B0B0;
}

.grid td {
    padding: 2px;
    border: 1px solid #B0B0B0;
}

/* ----------------------------------------
End of Grid
---------------------------------------- */

/* ----------------------------------------
no_border
---------------------------------------- */
.no_border {
    border-collapse: collapse;
}

.no_border td {
    padding: 1px;
    border: none;
}

/* ----------------------------------------
end of no_border
---------------------------------------- */

/* ----------------------------------------
pagination
---------------------------------------- */
.pagination {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 80%;
    height: 1%; /* IE tweak (holly hack) */
    text-align: center;
}

.pagination a, .pagination a:link, .pagination a:visited, .pagination a:active {
    display: block;
    float: left;
    font-weight:bold;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 5px 0 0;
    padding: 2px;
    padding: 0.5em;
    background-color: #808080;
    border: 1px solid #707070;
}

.pagination a.current {
    background-color: #F09030;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #F09030;
    color: #FFFFFF;
}

.pagination span {
    float: left;
    font-weight: bold;
}

/* ----------------------------------------
end of pagination
---------------------------------------- */

/* ----------------------------------------
applied-tags
---------------------------------------- */
.applied-tags a, .applied-tags a:link, .applied-tags a:visited, .applied-tags a:active {
    display: block;
    float: left;
    font-weight:bold;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 7px 7px 0;
    padding: 2px;
    padding: 0.5em;
    background-color: #808080;
    border: 1px solid #707070;
}

.applied-tags {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 80%;
    height: 1%; /* IE tweak (holly hack) */
    text-align: center;
}

.applied-tags a.current {
    background-color: #F09030;
    font-weight: bold;
}

.applied-tags a:hover {
    background-color: #F09030;
    color: #FFFFFF;
}

/* ----------------------------------------
end of applied-tags
---------------------------------------- */

/* ----------------------------------------
table_cell_done
---------------------------------------- */
.table_cell_done {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: #CEE7B6;
}

td.table_cell_done a {
    color: #909090;
}

td.table_cell_done a div {
    font-size: 70%;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

td.table_cell_done a div span {
    color: #000000;
    width: 300px;
    text-align: left;
    font-size: 125%;
}

/* ----------------------------------------
end of table_cell_done
---------------------------------------- */

/* ----------------------------------------
table_cell_not_done
---------------------------------------- */
.table_cell_not_done {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    background-color: #FFFFFF;
}

td.table_cell_not_done div {
    font-size: 70%;
    text-align: center;
    color: #909090;
}

/* ----------------------------------------
end of table_cell_not_done
---------------------------------------- */

/* ----------------------------------------
tags-table
---------------------------------------- */
#tags-table {
    width: 990px;
    height: 160px;
    padding-right: 10px;
    margin: 0 0 0 0;
    overflow-y: scroll;
}

#tags-table table {
    width: 100%;
}

#tags-table td {
    width: 25%;
    padding: 5px;
    white-space: nowrap;
}

#tags-table td a {
    padding-left: 5px;
    color: #707070;
    text-decoration: none;
}

#tags-table td a:hover {
    color: #909090;
}

/* ----------------------------------------
end of tags-table
---------------------------------------- */

/* ----------------------------------------
submit-btn
---------------------------------------- */
#submit-btn {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 80%;
    display: block;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: auto;
    padding: 2px;
    padding: 0.5em;
    background-color: #808080;
    border: 1px solid #707070;
}

#submit-btn:hover {
    background-color: #F09030;
    color: #FFFFFF;
    cursor: pointer;
}
/* ----------------------------------------
end of submit-btn
---------------------------------------- */